---
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Portfolio</title>

	<link rel="stylesheet" href="assets/css/all.css">

</head>
<body>

	{% include header.html %}

	{% include about.html %}

	{% include work.html %}

	{% include clients.html %}

	{% include contact.html %}

	{% include form.html %}

	{% include footer.html %}
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="assets/js/custom.js"></script>
</body>
</html>