@font-face {
	font-family: "PT_Sans";
	src: url("../fonts/PT_Sans/PT_Sans-Web-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "PT_Sans";
	src: url("../fonts/PT_Sans/PT_Sans-Web-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}